<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>acesso.controle.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>acesso.controle.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirNovoClienteServlet</servlet-name>
        <servlet-class>usuario.controle.InserirNovoClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioServlet</servlet-name>
        <servlet-class>inicio.InicioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerPerfilServlet</servlet-name>
        <servlet-class>usuario.controle.VerPerfilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarPerfilServlet</servlet-name>
        <servlet-class>usuario.controle.AlterarPerfilServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarCarrinhoProdutoServlet</servlet-name>
        <servlet-class>carrinhocompra.controle.AdicionarCarrinhoProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverCarrinhoProdutoServlet</servlet-name>
        <servlet-class>carrinhocompra.controle.RemoverCarrinhoProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarProdutoServlet</servlet-name>
        <servlet-class>produto.controle.ListarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarProdutoServlet</servlet-name>
        <servlet-class>produto.controle.AlterarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarProdutoServlet</servlet-name>
        <servlet-class>produto.controle.MostrarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExibirFotoProdutoServlet</servlet-name>
        <servlet-class>produto.controle.ExibirFotoProdutoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioServlet</servlet-name>
        <url-pattern>/Inicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirNovoClienteServlet</servlet-name>
        <url-pattern>/InserirNovoCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerPerfilServlet</servlet-name>
        <url-pattern>/VerPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarPerfilServlet</servlet-name>
        <url-pattern>/AlterarPerfil</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>AdicionarCarrinhoProdutoServlet</servlet-name>
        <url-pattern>/AdicionarCarrinhoProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverCarrinhoProdutoServlet</servlet-name>
        <url-pattern>/RemoverCarrinhoProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarProdutoServlet</servlet-name>
        <url-pattern>/ListarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarProdutoServlet</servlet-name>
        <url-pattern>/AlterarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarProdutoServlet</servlet-name>
        <url-pattern>/MostrarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExibirFotoProdutoServlet</servlet-name>
        <url-pattern>/ExibirFotoProduto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Inicio</welcome-file>
    </welcome-file-list>
</web-app>
